<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/dog.svg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap" rel="stylesheet">
   
   {% block title %}
    <title>MyDog - O melhor amigo de todos</title>
    {% endblock title %}

   <link rel="stylesheet" href="styles/main.css">
   {% block styles %}
   {% endblock styles %}

</head>

<body>

    {% block content %}
    {% endblock content %}
   
   {% block modal %}
   {% endblock modal %}

    
   {% block modaltwo %}
   {% endblock modaltwo %}

   {% block scripts %}
   {% endblock scripts %}
</body>

</html>