 <div id="modalLogin" class="hide">
        <div class="content">
           
            <div class="header">
                <h1>Acessar conta</h1>
                <a href="#" title="Fechar">Fechar</a>
            </div>

            <form action="/profile" id="form2" method="POST">
                <label for="code">Código de acesso</label>
                <div class="field">
                
                    <input type="text" name="code" maxlength="10" placeholder="Insira seu código">
                    
                    <button>Entrar</button>
                </div>
            </form>
        </div>
    </div>
    
   